# ===== Python =====
__pycache__/
*.pyc
*.pyo

# ===== Ambientes virtuais =====
venv/
.env/

# ===== IDEs =====
.idea/

# ===== Arquivos locais / dados =====
data/despesas.json
gui/despesas.json

# ===== Sistema =====
.DS_Store
Thumbs.db
